/* common styles start */
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* common styles end */




/* style for header start */
.navbar-brand,
.nav-item,
.navbar-text {
    color: black !important;
}

header .bg-light {
    background-color: #ffee5a !important;
}

footer .bg-light {
    background-color: #ffee5a !important;
}

.navbar-text .order {
    font-size: 12px;
    max-width: 180px;
}

.navbar-text .order .order-number {
    font-weight: bold;
    margin-right: 8px;
}

.navbar-text .fa-shopping-cart {
    margin: 0 10px;
}
/* style for header end */



/* style for .section-place start */
.section-place {
    padding: 80px 0;
}

.wrapper-choice {
    float: left;
    position: relative;
}

.wrapper-choice label {
    padding: 10px;
    background: rgb(184, 184, 184);
    margin: 7px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* обводка вокруг кнопки */
.wrapper-choice:hover {
    background: #ffee5a;
    border-radius: 50%;
}

input[type="checkbox"]:checked + label {
    background: rgb(28, 216, 21);
    color: rgba(24, 23, 23, 0.76);
}


/* всплывающие подсказки начало*/

/* сама подсказка */
.hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    background: #ffee5a;
    position: absolute;
    width: 310px;
    padding: 10px 0;
    /* z-index: 5; */
    box-shadow: 0px 0px 3px 5px rgba(0,0,0,0.37);
    top: -110px;
    left: -125px;
    /* opacity: 0; */
    transition: .75s ease-in-out;
    visibility: hidden;
}

/* труегольник снизу под подсказкой */
.hint-head::after {
    content: '';
    border: 10px solid transparent;
    border-top: 23px solid #ffee5a;
    bottom: -85px;
    position: absolute;
    left: 44px;
}

/* При наведение появляеться подсказка */
.wrapper-choice:hover > .hint {
    /* opacity: 1; */
    top: -94px;
    visibility: visible;
}


/* заголовок подсказки- относительно его спозиционарован треугольник */
.hint-head {
    font-weight: 600;
    position: relative;
}
/* всплывающие подсказки конец*/


/* style for .section-place end */



.skin-blue .content-header {
    background: transparent;
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.breadcrumb>li {
    display: inline-block;
}

.content-header>.breadcrumb>li>a {
    color: #444;
    text-decoration: none;
    display: inline-block;
}

.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}

.content-header>h1 {
    margin: 0;
    font-size: 24px;
}

.content-header>.breadcrumb>li>a>.fa, .content-header>.breadcrumb>li>a>.glyphicon, .content-header>.breadcrumb>li>a>.ion {
    margin-right: 5px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-dashboard:before, .fa-tachometer:before {
    content: "\f0e4";
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.content-header>.breadcrumb>li+li:before {
    content: '>\00a0';
}

